@import url('https://fonts.googleapis.com/css?family=Raleway');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: rgb(119, 119, 119);
  padding: 2rem;
}

.plant-list-card {

  a, a:visited, a:active {
    text-decoration: none;
    color: rgb(119, 119, 119);
    cursor: pointer;
  }

  &__image {
    height: 28rem;
    margin: 1rem;
    border-radius: 2px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
}

.user-plants-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  justify-items: center;
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: .3rem;
  font-weight: 100;
}
