@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}

/*

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #777777;
}
.home {
  background-image: url('https://images.unsplash.com/photo-1502920873987-ac48e660a95d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
}


.form {
  padding: 1rem;
}
.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1rem;
  display: block;
  width: 40%;
}
.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  letter-spacing: 0.1rem;
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.task {
  font-size: 1.2rem;
  display: inline;
  letter-spacing: 0.1rem;
  margin-left: 2rem;
}
.user-photo {
  height: 5rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
}
.footer {
  background-color: #f7f7f7;
  padding: 3rem;
}
.nav-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background-color: #f7f7f7;
}
.nav-container__item:not(:last-child) {
  border-right: 0.5px solid #777777;
}
.nav-container__item {
  font-size: 1.3rem;
  text-transform: uppercase;
  height: 100%;
  padding: 2.5rem;
  width: 100%;
  text-align: center;
}
.nav-container__item a {
  text-decoration: none;
} */


.heading-primary {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 100;
  opacity: 0.9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: #777777;
  cursor: pointer;
}

.heading-tertiary {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 100;
}

.plant-list-card {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.user-plants-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65vw;
  justify-items: center;
}

.plant-list-card__image {
  height: 15rem;
  margin: 1rem;
  border-radius: 2px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.task {
  display: flex;
  margin: 10px 0;
}

html {
  font-family: 'Raleway';
}

.user-profile {
  justify-content: center;
  display: flex;
}

.plant-page {
  display: flex;
}

.plant-page__image {
  width: 300px;
  border-radius: 2px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
