@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}

.nav-container {
  background-color: #5F955D;
  margin-bottom: 25px;
}

.heading-primary {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 100;
  opacity: 0.9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.heading-tertiary {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 100;
}

.plant-list-card {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.user-plants-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 25px 0;
}

.plant-list-card__image {
  height: 15rem;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.task {
  display: flex;
  margin: 10px 0;
}

html {
  font-family: 'Raleway';
}

.user-profile {
  justify-content: center;
  display: flex;
}

.user-profile > * {
  margin: 0 35px;
}

.plant-page {
  display: flex;
  justify-content: center;
}

.plant-page > * {
  margin: 0 35px;
}

.plant-page__description {
  margin: 10px 0;
}

.plant-page__image {
  width: 300px;
  border-radius: 2px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  margin: 20px 0;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  font-size: 15px;
  letter-spacing: 0.1rem;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  color: black;
}

.btn:hover {
  color: green;
}

.delete-btn {
  padding: 3px 5px;
  background-color: transparent;
  border-radius: 2px;
  margin: 0 0 0 5px;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.form {
  margin: 10px 0;
}
.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__input {
  font-size: 15px;
  font-family: inherit;
  color: inherit;
  padding: 10px 5px;
  display: block;
  width: 300px;
}
.form__label {
  font-size: 12px;
  letter-spacing: 0.1rem;
}

.my-plants {
  text-align: center;
}

.todos {
  margin: 25px 0;
}

.form {
  margin: 25px 0;
}

.comment {
  width: 40vw;
  margin: 25px 0;
  background-color: #eee;
  padding: 40px;
  border-radius: 2px;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.05);
}

.plant-entry-input {
  padding: 10px;
  display: block;
}

.nav-container__item {
  margin: 20px;
  color: white;
}

.plant-link {
  color: #777777;
}

.entry-btn {
  margin: 15px 0;
}

.garbage-icon {
  height: 20px;
  cursor: pointer;
}
